header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #9096a2;
}
.header-bg{
    background-color: #f4f4f6;
}
header nav{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header nav h1{
    font-size: 35px;
}
header nav ul{
    display: flex;
    column-gap: 40px;
}
header nav ul li a {
    color: black;
    font-size: 20px;
}
header nav ul li a.active {
    border-bottom: 3px solid #9096a2;
}
header nav .mini-box{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
header nav form {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    background-color: #e9eaec;
    border-radius: 5px;
}
header nav form input{
    min-width: 250px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #4d566b;
    font-size: 18px;
}
header nav form input::placeholder{
    font-size: 18px;
    color: #4d566b;
    font-weight: 500;
}
header nav form span{
    font-size: 25px;
}
header nav .icons{
    display: flex;
    align-items: center;
}
header nav .icons span{
    margin: 0 10px;
    font-size: 25px;
}
header nav .icons .shop-cart{
    position: relative;
}
header nav .icons .shop-cart .quatity{
    position: absolute;
    top: -0px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #df2648;
    font-size: 15px;
    color: #ffffff;
}
nav .menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #000;
    border-radius: 0.2rem;
}

@media screen and (max-width: 700px) {
    header nav ul {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: fixed;
        top: 90px;
        right: -300px;
        row-gap: 30px;
        padding: 40px 0 0 10px;
        width: 200px;
        height: 100vh;
        background-color: #000;
    }
    nav ul.open {
        right: 0;
    }
    header nav ul li a{
        color: white;
        font-size: 20px;
    }
    nav .menu {
        display: flex;
    }
    header nav h1{
        font-size: 25px;
    }
    header form {
        display: none;
    }
    .icons {
        position: absolute;
        right: 40px;
    }
}
@media screen and (min-width:600px) and (max-width: 1000px){
    header nav ul {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: fixed;
        top: 90px;
        right: -500px;
        row-gap: 50px;
        padding: 40px 0 0 10px;
        width: 400px;
        height: 100vh;
        background-color: #000;
    }
    header nav ul li a{
        color: white;
        font-size: 25px;
    }
}