*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-section{
  width: 90%;
  display: grid;
  grid-template-areas:
    'menu menu main main main main'
    'menu menu main main main main';
  column-gap: 50px;
  margin: 0 auto;
  margin-top: 100px;
}
.container-menu{
  padding-top: 30px;
  grid-area: menu;
  border-right: 1px solid #9096a2;
}
.container-menu div{
  display: flex;
  column-gap: 20px;
}
.container-menu p{
  font-weight: 600;
  padding: 0 0 25px 0;
}
