.shoping-cart{
    margin: 0 auto;
    margin-top: 150px;
    width: 90%;
}
.shoping-cart .title-products div{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.shoping-cart .title-products .text{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 10px;
}
.shoping-cart .title-products .square{
    height: 50px;
    width: 25px;
    border-radius: 5px;
    background-color: #df2648;
}
.shoping-cart .container-product{
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2 , auto);
    gap: 40px 30px;
}
.shoping-cart .container-product .box{
    width: 100%;
    height: 100%;
}
.shoping-cart .container-product .box-image{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e9eaec;
}
.shoping-cart .container-product .box .box-image img{
    width: 70%;
    height: 70%;
    object-position: center;
    object-fit: cover;
}
.shoping-cart .container-product .box .prrvnumb{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.shoping-cart .container-product .box .prrvnumb a{
    color: #df2648;
    padding-right: 5px;
    font-weight: 600;
    font-size: 18px;
}
.shoping-cart .container-product .box .prrvnumb span{
    color: #f89118;
    padding: 0 3px;
    font-size: 18px;
}
.shoping-cart .container-product .box .prrvnumb h5{
    color: #9096a2;
    padding-left: 5px;
    font-size: 18px;
}
.shoping-cart .container-product .box .btn-add{
    margin-top: 20px;
    width: 100%;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    background-color: #df2648;
    color: #ffffff;
}
.shoping-cart .container-product .box .mini-container{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    flex-direction: column;
    margin-top: 20px;
}
.shoping-cart .container-product .box .mini-container .mini-box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoping-cart .container-product .box .mini-container .mini-box button{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #9096a2;
    color: #ffffff;
}
.shoping-cart .container-product .box .mini-container .mini-box span{
    font-size: 20px;
    font-weight: 600;
}
.shoping-cart .container-product .box .mini-container .btn-rm{
    width: 80%;
    border: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    color: #ffffff;
    background-color: #df2648;
}